# Dictionary

### Create Dictionary

In [1]:
mydict = dict() 
mydict

{}

In [2]:
mydict = {}
mydict

{}

In [4]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [8]:
mydict.keys()

dict_keys([1, 'A', 3])

In [9]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [10]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [11]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}  
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [12]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat','hat') }
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [13]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat','hat') }
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [14]:
keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict3

{'d': None, 'c': None, 'a': None, 'b': None}

In [16]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10 
mydict3 = dict.fromkeys(keys , value)  
mydict3

{'d': 10, 'c': 10, 'a': 10, 'b': 10}

In [17]:

keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) 
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [18]:
value.append(40) 
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

### Accessing Items

In [19]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [20]:
mydict[1]

'one'

In [21]:
mydict.get(1)

'one'

In [25]:
mydict1 = {'Name':'Aaru' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'} 
mydict1

{'Name': 'Aaru', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [26]:
mydict1['Name']

'Aaru'

In [24]:
mydict1.get('job')

'Analyst'

### Add, Remove & Change Items

In [27]:
 
mydict1 = {'Name':'Aaru' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [28]:
mydict1['DOB'] = 1992 # Changing Dictionary Items 
mydict1['Address'] = 'Delhi' 
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [29]:
dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [30]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'Aaru',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [31]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [32]:
mydict1.popitem()

('Address', 'Delhi')

In [33]:
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1995}

In [34]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Aaru', 'DOB': 1995}

In [35]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [36]:
del mydict1 # Delete the dictionary object 
mydict1

NameError: name 'mydict1' is not defined

### Copy Dictionary

In [38]:
mydict = {'Name':'Aaru' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [44]:
mydict1 = mydict 
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [41]:
id(mydict) , id(mydict1)

(2743190733568, 2743190733568)

In [43]:
mydict2 = mydict.copy()
mydict2

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [45]:
id(mydict2)

2743190645696

In [46]:
mydict['Address'] = 'Mumbai' 
mydict

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [47]:
print(mydict1)
print(mydict2)

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}
{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

### Loop through a Dictionary

In [49]:
mydict1 = {'Name':'Aaru' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'}
mydict1

{'Name': 'Aaru',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [51]:
for i in mydict1: 
   print(i , ':' , mydict1[i])

Name : Aaru
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [52]:
for i in mydict1: 
    print(mydict1[i])

Aaru
12345
1991
Hilsinki
Analyst

### Dictionary Membership

In [53]:
mydict1 = {'Name':'Aaru' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [54]:
'Name' in mydict1

True

In [55]:
'Asif' in mydict1

False

In [56]:
'ID' in mydict1

True

In [57]:
'Address' in mydict1

False

# All / Any 
The all() method returns: 
 - True - If all all keys of the dictionary are true 
 - False - If any key of the dictionary is false
   
   The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [67]:
mydict1 = {'Name':'Aaru' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Aaru', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [68]:
all(mydict1) # Will Return false as one value is false (Value 0)

True