### LETS UNDERSTAND THE CONDITION TO COMPUTER TO THINK FOR THAT WE HAVE SOME SPECIAL KEYWORD
 - if
 - if else
 - if elif else
 - nested if

In [1]:
if True: # indentiation is always 4 spaces
    print('Data Science')

Data Science

In [2]:
if True:
print('ds')

IndentationError: expected an indented block after 'if' statement on line 1 (2469930286.py, line 2)

In [6]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [7]:
if True: # indentiation is always 4 spaces
    print('Data Science')
print('bye for now')

Data Science
bye for now

In [8]:
if False: # indentiation is always 4 spaces
    print('Data Science')
else:
    print('bye for now')

bye for now

In [9]:
#to print only even number
x = 4
r = x % 2 

if r == 0:
    print('Even number')

Even number

In [10]:
#to print only even number
x = 5
r = x % 2 

if r == 0:
    print('Even number')

In [11]:
x = 5
r = x % 2 

if r == 0:
    print('Even number')
print('odd number')

odd number

In [12]:
x = 6
r = x % 2 

if r == 0:
    print('Even number')
print('odd number')

Even number
odd number

In [13]:
x = 10
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

Even number

In [14]:
x = 11
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [15]:
x = 11
r = x % 2 

if r == 0:
    print('Even number')
else:
    print('odd number')

odd number

In [16]:
x = 23
r = x % 2 

if r == 0:
    print('Even number')
if r == 1:
    print('odd number')

odd number

In [17]:
x = 17
r = x % 2 

if r == 0:
    print('Even number')
    
if r != 0:
    print('odd number')

odd number

In [18]:
x = 5
r = x % 2

if r == 0:
    print('Even number')
else:
    print('Odd Number')

Odd Number

In [19]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
else:
    print('Odd Number')

Even number

In [20]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
  
else:
    print('Odd Number')

Odd Number

In [21]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
else:
    print('Odd Number')

Even number

In [22]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    if x>5 :
        print('greater number')
    else:
       print('not greater ')
else:
    print('odd number')

Even number
not greater

In [23]:
x = 6
r = x % 2

if r == 0:
    print('Even number')
    if x>5 :
        print('greater number')
    else:
        print('not greater ')
        
else:
    print('odd number')

Even number
greater number

In [24]:
# when you use if it will check all condition but if we mention elif then it wont check all condition
# when we use if condition it will check all every block of code  better debug in pycharm
# you can debug with value 1 & d for both if & elif

x = 2

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

Two

In [25]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 

x = 4

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

four

In [26]:
x = 7

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

In [27]:
x = 7

if(x == 1):
    print('one')
    
    
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')
    
else:
    print('wrong output')

wrong output

In [28]:
x = 4

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')
else:
    print('wrong output')

four

In [29]:
x = 10

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')
   
else:
    print('wrong output')

wrong output

In [30]:
#short hand if 
a = 30
b = 20
if a > b: print("a is greater than b")

a is greater than b

# Loops 
- while loop 
- for loop

In [31]:
print('data science')
print('data science')
print('data science')
print('data science')    
print('data science')

data science
data science
data science
data science
data science

In [32]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [33]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [34]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [35]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [36]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [37]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [38]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [39]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [42]:
# lets use while loop usig some numbers
i = 1
while i <= 5 :
    j = 0
    while  j <= 4 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3 4
0 2 4 6 8
0 3 6 9 12
0 4 8 12 16
0 5 10 15 20

FOR LOOP  -
normally while loop it work with iteration or certaion some condition but for loop it will work with sequence (list, string,int)

In [43]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [45]:
name1 = [1,3.5,'hello'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hello

In [46]:
for i in [2, 3, 7.8, 'hi']:
    print(i)

2
3
7.8
hi

In [47]:
range(5)

range(0, 5)

In [48]:
for i in range(5):
    print(i)

0
1
2
3
4

In [49]:
for i in range(2,5):
    print(i)

2
3
4

In [50]:
for i in range(1,10,3):
    print(i)

1
4
7

In [51]:
# print the value which is divisible by 5 
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [52]:
# print the value which is divisible by 5 

for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [53]:
# print the value which is divisible by 5 i dont want that value 
for i in range(1,51):
    
    if i%5!=0 :
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

### LETS DISCUSS ABOUT 3 KEYWORDS -- BREAK || CONTINUE || PASS

In [54]:
#write the code user ask chocklet from vendor machne write the basic code 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet')
    i += 1

How many choclets you want:? 6

choclet
choclet
choclet
choclet
choclet
choclet

In [55]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet')
    i += 1   
# if you check the user wants 10 choclets  but availabe choclet is 5 but we got output as 10 choclet
# in this code we just declare but we dint apply any condition to it

How many choclets you want:? 10

choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet

In [56]:
available_choclet = 5 # the machine has only 5 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets user want:? 6

choclet
choclet
choclet
choclet
choclet
bye for now

In [58]:
available_choclet = 10 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets user want:? 11

choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
bye for now

In [60]:
available_choclet = 5 # the machine has only 5 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets you want:? 6

choclet
choclet
choclet
choclet
choclet
out of stock
bye for now

In [61]:
available_choclet = 10 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now')

How many choclets you want:? 9

choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
choclet
bye for now

In [62]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [63]:
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [64]:
for i in range(1,11):
    if i == 3:
        continue 
    print(i)

1
2
4
5
6
7
8
9
10

In [65]:
for i in range(1,11):
    if i == 6:
        continue  
    print('hello :',i)

hello : 1
hello : 2
hello : 3
hello : 4
hello : 5
hello : 7
hello : 8
hello : 9
hello : 10

In [66]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1593395653.py, line 1)

In [67]:
for i in range(1,11):
    pass

In [68]:
### you need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5 
for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [69]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [71]:
for i in range(1,51):  
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [72]:
for i in range(1,50):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')    
# when you apply and you wont get the value which is divisible by both 3 & 5 (15)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [73]:
# i dont want to print the values which are even numbers that means print only odd numbers
for i in range(1,51):
    
    if (i%2 == 0):
        #print('even')
        continue
    else:
        print(i)
print('bye')

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
bye

## PRINTING PATTERN IN PYTHON

In [74]:
print('# # # #')
print('# # # #')
print('# # # #')
print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [75]:
for i in range(1,5):
    i=i+1 
    print('# # # # ')

# # # #
# # # #
# # # #
# # # #

In [79]:
for i in range(2,7):
    i=i+1 
    print('# # # ')

# # #
# # #
# # #
# # #
# # #

In [81]:
for i in range(1,5):
    if i<=5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [82]:
for j in range(4):
    print('#')

#
#
#
#

In [83]:
for j in range(4):
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [84]:
for j in range(4):
    print('#', end = " ")

print()

for j in range(4):
    print('#', end = " ")

print()

for j in range(4):
    print('#', end = " ")

print()

for j in range(4):
    print('#', end = " ")

# # # #
# # # #
# # # #
# # # #

In [85]:
for j in range(4):
    print('#', end=" ")

for j in range(4):
    print('#', end=" ")

# # # # # # # #

In [86]:
for j in range(4):
    print('#', end=" ")
    
print()
    
for j in range(4):
    print('#', end=" ")

# # # #
# # # #

In [87]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [88]:
for i in range(4):
    for j in range(4):
        print('#', end="  ")
    print()
    # pease use debug mode in pycharm

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [89]:
for i in range(4):
    for j in range(i+1):
        print('#', end = " ")
    print()

#
# #
# # #
# # # #

In [90]:
for i in range(11):
    for j in range(i+1):
        print('#', end = " ")
    print()

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #
# # # # # # # # # # #

In [91]:
for i in range(1,5):
    print("# "*i)

#
# #
# # #
# # # #

In [92]:
for i in range(1,7):
    print("# "*i)

#
# #
# # #
# # # #
# # # # #
# # # # # #

In [93]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [95]:
for i in range(1,6):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #
# # # #

In [96]:
list(range(5))

[0, 1, 2, 3, 4]

In [97]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #

In [98]:
for i in range(5):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [99]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [100]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [101]:
for i in range(1,6):
    print("# "*(6-i))

# # # # #
# # # #
# # #
# #
#

- For|Else in python
- In other language for else not supportable but in python it is supportable

In [102]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [103]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [104]:
nums = [12,14,18,21,25,20]

for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [105]:
nums = [12,14,18,21,20,25]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

20

In [106]:
nums = [12,14,18,21,25,20,10]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

25

In [107]:
nums = [10,14,18,21,5,10]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break #it will print only 1 number then it break

10

In [108]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break

In [109]:
nums = [7,14,18,21,23,27,29] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
   print('Number Not Found') #every iteration it cheking condition

Number Not Found

In [110]:
nums = [7,14] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found') #every iteration it cheking condition

Number Not Found
Number Not Found

In [111]:
nums = [7,14,18,21,23,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Number Not Found') # hear else we dont write in if block but we can write in for block only

Number Not Found

In [112]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [114]:
nums = [10,14,18,21,20,27,30] #hear there are number which is divisible by 5 we got output as nums

for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
30
Not Found

In [115]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [116]:
num = 14

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Not prime Number

In [117]:
num = 13

for i in range(2,num):
    if num % i == 0:
        print('Not prime Number')
        break
else:
    print('Prime Number')

Prime Number